# ================================

# C# / .NET / Visual Studio

# ================================

# Visual Studio

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Compilación

[Bb]in/
[Oo]bj/

# Visual Studio Code

.vscode/

# JetBrains Rider

.idea/

# NuGet

packages/
*.nupkg
*.snupkg

# Logs

*.log

# Test

TestResults/
*.trx

# Archivos temporales

*.tmp
*.temp
*.cache

# Archivos del sistema

.DS_Store
Thumbs.db
desktop.ini

# Archivos de Visio

*.vsdx

# Archivos temporales de Office

~$*.docx
~$*.xlsx
~$*.pptx
~$*.vsdx
